.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.quiz{
    display: grid;
    grid-template-rows: 60px auto;
    width: 90%;
    height: 100%;
    border-radius: 50px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_header {
    text-align: center;
    font-size: 50px;
}

.quiz_header{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.quiz_user{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 30px;
}

.quiz_body{
    padding: 20px 30px;
    background-color: skyblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#readiness_bar .ui-progressbar-value {
    background-color: #69608E;
}

#readiness_bar {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.chart-circle {
    fill: none;
    stroke-width: 30;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 1s;
}

.score {
    font-size: 4rem;
    text-anchor: middle;
    alignment-baseline: middle;
}

.download-button {
    background-color: #3e4095; 
    border: none;
    color: white; 
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
}

.download-button:hover {
    background-color: white;
    color: black;
}

.option_group{
    list-style-type: none;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option{
    display: block;
    width: 300px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.4s all;
    font-size: 40px;
    width: 500px;
    text-align: center;
}

.option:hover{
    cursor: pointer;
    border: 2px solid #341f97;
    color: #341f97;
}

.option.active{
    background-color: #341f97;
    color: #fff;
}

.btn-next{
    border: none;
    padding: 35px;
    background-color: #341f97;
    color: #fff;
    border-radius: 50px;
    transition: 0.4s all;
    font-size: 40px;
    width: 400px;
}

#quiz_result_div {
    width: 90%;
    height: 100%;
}

.btn-next:hover{
    cursor: pointer;
    background-color: #04aeef;
    color: #000;
}

.border{
    height: 500px;
    width: 500px;
    display: block;
    justify-content: center;
    margin: 0px 400px;
    border-radius: 10px;
    top: 100px;
    border-color: transparent;
}

#modded {
	.progress {
		min-height: 36px;
		overflow: hidden;
		position: relative;
		span {
			position: relative;
			float:left;
			color: #fff;
			padding: 8px;
			z-index: 99999;
			i {
				width: inherit;
				font-size: inherit;
				position: relative;
				top: 2px;
				margin-left: 8px;
			}
		}
		.determinate {
			width: 0;
			transition: width 1s ease-in-out;
			padding: 8px;
			position: relative;
			color: #fff;
			text-align: right;
			white-space: nowrap;
		}
	}
	ul.collapsible {
		padding: 0;
		border: none;
		border-radius: 0;
		box-shadow:none;
		li {
			margin-bottom: 14px;
		}
		.collapsible-header {
			padding: 0;
			border-bottom: 0;
			.progress {
				margin: 0;
				border-radius: 0;
			}
		}
		.collapsible-body {
			padding: 16px;
			box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
		}
	}
}
@keyframes grow {
  from {
    width: 0;
  }
}